---
const { href } = Astro.props
---

<a
  href={href}
  target='_blank'
  class='bg-[#111] rounded-lg text-white text-sm font-semibold flex items-center gap-2 px-4 py-2 border border-[#444] *:size-5'
>
  <slot />
</a>
