---
interface Props {
  class?: string
  href: string
  alt: string
  src: string
}

const { class: className, href, ...imageProps } = Astro.props
---

<a
  class={`overflow-hidden ${className}`}
  href={href}
  target='_blank'
>
  <img
    class='object-cover h-full w-full hover:scale-105'
    {...imageProps}
  />
</a>

<style>
  .default-image {
    @apply xl:block hidden absolute shadow-lg;
  }
  .aligned-rb {
    @apply right-0 bottom-0 rounded-tl-xl border-t border-l border-[#333];
  }

  img {
    transition: transform 0.2s ease;
  }
</style>
