---
const { label, icon: Icon } = Astro.props
---

<li
  class='flex gap-1 items-center bg-black rounded-full px-2 py-1 border border-[#333]'
>
  <Icon class='size-3' />
  <span class='text-white text-xs'>{label}</span>
</li>
