---
import { SECTIONS, SOCIALS } from '@/consts.d'
import Layout from '@/layouts/Layout.astro'
import Footer from '@components/Footer.astro'
import Navbar from '@components/Navbar.astro'
import Section from '@components/Section.astro'
import Socials from '@components/Socials.astro'
import Title from '@components/Title.astro'
import Projects from '@components/projects/Projects.astro'
---

<Layout title="Kevin's Portfolio | Fullstack Developer">
	<main
		class='xl:max-w-[75rem] max-w-4xl md:mx-10 mx-8 xl:mt-[21rem] mt-48 flex flex-col md:gap-56 gap-44'
	>
		<Navbar />

		<Section>
			<h2 class='text-white text-6xl md:text-8xl sm:text-7xl font-bold'>
				Hi, I’m Kevin
			</h2>
			<h3
				class='text-2xl sm:text-3xl font-normal text-white max-w-[730px] mt-4'
			>
				Software developer focused on
				<strong>Web Development</strong>. Specialized on building <strong
					>enjoyable</strong
				> web experiences.
			</h3>
			<Socials />
		</Section>

		<Section
			class='gap-8'
			id='projects'
		>
			<Title {...SECTIONS.PROJECTS} />
			<Projects />
		</Section>

		<Section
			class='gap-6'
			id='about'
		>
			<Title {...SECTIONS.ABOUT} />
			<div class='text-xl font-light text-gray-200 flex flex-col gap-5'>
				<p>
					I'm Kevin Rodriguez, a 19-year-old eighth-semester student and <strong
						>Fullstack Developer</strong
					>.
				</p>
				<p>
					I've worked on a variety of projects, always focused on delivering
					intuitive and engaging web applications to
					<strong>deliver the best user experience</strong>. I aim to create
					user-friendly, functional solutions that enhance the experience,
					whether by simplifying complex processes or adding polish to the final
					product.
				</p>
			</div>
		</Section>

		<Footer />
	</main>
</Layout>

<style>
	h3 > strong {
		background: linear-gradient(to right, #8e63f3, #5d6bff);
		@apply bg-clip-text text-transparent font-extrabold;
	}
	p > strong {
		@apply text-[#b49dff] font-medium;
	}
</style>
