---
import { SECTIONS, SOCIALS } from '@/consts.d'
import Layout from '@/layouts/Layout.astro'
import Footer from '@components/Footer.astro'
import Navbar from '@components/Navbar.astro'
import Section from '@components/Section.astro'
import Socials from '@components/Socials.astro'
import Title from '@components/Title.astro'
import Projects from '@components/projects/Projects.astro'
---

<Layout title='Portfolio - Kevin Rodriguez'>
	<main class='w-[1200px] pt-[350px] mx-auto flex flex-col gap-[220px]'>
		<Navbar />

		<Section>
			<h2 class='text-white text-8xl font-bold'>Hi, I’m Kevin</h2>
			<h3 class='text-2xl font-normal text-white w-[730px] mt-4'>
				Software developer focused on <span>Web Development</span>. Specialized
				on building versatile web aplications to the detail.
			</h3>
			<Socials />
		</Section>

		<Section
			class='gap-8'
			id='projects'
		>
			<Title {...SECTIONS.PROJECTS} />
			<Projects />
		</Section>

		<Section
			class='gap-6'
			id='about'
		>
			<Title {...SECTIONS.ABOUT} />
			<div class='text-xl font-light text-gray-200 flex flex-col gap-5'>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
					ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
					sit amet, consectetur adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
					amet, consectetur adipiscing elit.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
					ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
			</div>
		</Section>

		<Footer />
	</main>
</Layout>

<style>
	h3 > span {
		background: linear-gradient(to right, #8e63f3, #5d6bff);
		@apply bg-clip-text text-transparent font-extrabold;
	}
</style>
