---
import { SECTIONS } from '@/consts.d'
import Layout from '@/layouts/Layout.astro'
import Projects from '@components/Projects.astro'
import Section from '@components/Section.astro'
import Socials from '@components/Socials.astro'
import Title from '@components/Title.astro'
---

<Layout title='Portfolio - Kevin Rodriguez'>
	<main class='w-[1200px] pt-[350px] mx-auto flex flex-col gap-[200px]'>
		<Section>
			<h2 class='text-white text-8xl font-bold'>Hi, I’m Kevin</h2>
			<h5 class='text-2xl font-normal text-white w-[730px] mt-4'>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</h5>
			<Socials />
		</Section>

		<Section class='gap-8'>
			<Title {...SECTIONS.PROJECTS} />
			<Projects />
		</Section>
	</main>
</Layout>
