@import 'tailwindcss';
@source "../../node_modules/@k3vndev/react-carousel";

* {
  color-scheme: dark;
}

@theme {
  /* Fonts */
  --font-plus: var(--font-plus-jakarta-sans), sans;
  --font-poppins: var(--font-poppins), sans-serif;

  /* The application uses 3 main colors: purple, light purple, and blue. These colors are used for various UI elements such as buttons, backgrounds, and text. */
  --color-10-purple: #8086ff;
  --color-20-light-purple: #a584ff;
  --color-30-blue: #56a0ff;

  --color-bluish-gray: #8c9db5;
}

@utility text-gradient {
  @apply bg-linear-to-r from-10-purple via-20-light-purple to-30-blue bg-clip-text text-transparent;
}

@utility text-low-gradient {
  @apply bg-linear-to-r from-[#cfd0ff] via-[#d6c9ff] to-[#a8ceff] bg-clip-text text-transparent;
}

@utility base-card {
  @apply bg-linear-to-br to-white/10 border transition rounded-[1.25rem] overflow-clip backdrop-blur-md;
}
