---
import { SOCIALS } from '@/consts.d'
import Link from './Link.astro'
---

<div class='flex flex-wrap gap-3 md:gap-4 mt-5 md:mt-4'>
  {
    SOCIALS.map(({ label, link, icon: Icon }) => (
      <Link
        name={label}
        href={link}
        class='gap-3 sm:px-8 px-6 py-2 rounded-full'
      >
        <Icon class='size-8' />
        <span class='text-2xl md:block hidden font-semibold'>{label}</span>
      </Link>
    ))
  }
</div>
