---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Explore Projects — Kevin's Portfolio">
  <main class='text-white font-bold text-2xl'>
    Welcome to the projects page! Here you can explore all of my work in detail.
  </main>
</Layout>
